Monday task to Jira.json
{
  "name": "Monday task to Jira",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "14d0c30a-93bd-4d41-9022-93f273913392",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1728,
        144
      ],
      "id": "2880138a-e925-4457-92c1-d31c07379d2b",
      "name": "Webhook",
      "webhookId": "14d0c30a-93bd-4d41-9022-93f273913392"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"challenge\": \"{{ $json.body.challenge }}\"\n} ",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -1568,
        144
      ],
      "id": "39333e56-ddc3-4735-ac03-ddec3fe40694",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -224,
        -176
      ],
      "id": "b48f6ccb-cb26-4877-99f3-0740353d64fd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0].json.data.items[0];\nconst asset = item.updates[0].assets[0];\nlet response =  [\n  {\n    json: { \n      isPublicURl: false\n    }\n  }\n]\n if(asset && asset.public_url){\n   response = [\n      {\n        json: {\n          fileUrl: asset.public_url,\n          fileName: asset.name, \n          isPublicURl: true\n        }\n      }\n    ]\n }\n\nreturn response;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -16
      ],
      "id": "dd558996-7a03-4ff7-8e27-9f49f0a35893",
      "name": "Extract PDF-Link"
    },
    {
      "parameters": {
        "url": "={{ $json.fileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -384,
        -176
      ],
      "id": "c4cb60e5-658b-449b-b8b0-502143a4ef24",
      "name": "Download PDF"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \n\"query\": \"query { items(ids:{{ $json.body.event.pulseId }}) { name updates { id text_body assets { id name public_url url } } } }\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1056,
        -16
      ],
      "id": "1867d7ed-503d-4ecb-a9e2-77a6e9441eb0",
      "name": "Get Update Of Board"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4361fefb-1780-44b9-a0f8-fdb86e06893c",
              "leftValue": "={{ $json.body.event.type }}",
              "rightValue": "create_update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1328,
        144
      ],
      "id": "97f588c9-7d87-4eb8-9ea1-0e284381b9f6",
      "name": "is Item or Update"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsByKey": false,
          "jql": "=project = \"SSP\" AND summary ~ \"{{ $('Get Update Of Board').item.json.data.items[0].name }}\" ORDER BY created DESC "
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -48,
        -176
      ],
      "id": "83f7300a-4a4b-452b-ba9c-78647b58cef3",
      "name": "Jira Software",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "qwZRnufdYqNv5Ery",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueComment",
        "issueKey": "={{ $json.id }}",
        "comment": "={{ $('Respond to Webhook').item.json.body.event.textBody }}",
        "options": {
          "wikiMarkup": true
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -176,
        80
      ],
      "id": "caaf0bff-0fc3-4ec2-8dae-11c117290c33",
      "name": "Add Comment on Jira without document",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "qwZRnufdYqNv5Ery",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Sample Scrum Project"
        },
        "issueType": {
          "__rl": true,
          "value": "10015",
          "mode": "list",
          "cachedResultName": "Story"
        },
        "summary": "={{ $json.body.event.pulseName }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "712020:a93de662-fe61-4467-8255-ab1391c69af1",
            "mode": "list",
            "cachedResultName": "Vikas Gupta"
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -848,
        224
      ],
      "id": "c2b431a6-41aa-4279-a75a-92c11c4f2237",
      "name": "Creating Jira without document",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "qwZRnufdYqNv5Ery",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10006",
          "mode": "list",
          "cachedResultName": "Sample Scrum Project"
        },
        "issueType": {
          "__rl": true,
          "value": "10017",
          "mode": "list",
          "cachedResultName": "Subtask"
        },
        "summary": "={{ $('Respond to Webhook').item.json.body.event.pulseName }}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "712020:a93de662-fe61-4467-8255-ab1391c69af1",
            "mode": "list",
            "cachedResultName": "Vikas Gupta"
          },
          "parentIssueKey": "={{ $json.key }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -448,
        512
      ],
      "id": "e5c9034f-7ad9-43db-a4e7-6dd13ad2908c",
      "name": "Creating  Sub task in Jira without document",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "qwZRnufdYqNv5Ery",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \n\"query\": \"query { items(ids:{{ $json.body.event.parentItemId }}) { name updates { id text_body assets { id name public_url url } } } }\" \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        512
      ],
      "id": "6a72aec8-4288-40cd-a3cc-2353c896c852",
      "name": "Get Parent Board Update Of Board"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsByKey": false,
          "jql": "=project = \"SSP\" AND summary ~ \"{{ $json.data.items[0].name }}\" ORDER BY created DESC "
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -640,
        512
      ],
      "id": "c0b2628f-ce2a-4cd1-9cab-6e4138ce1124",
      "name": "Get Jira Tickets For Subtask",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "qwZRnufdYqNv5Ery",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "resource": "issueComment",
        "issueKey": "={{ $json.id }}",
        "comment": "={{ $('Respond to Webhook').item.json.body.event.textBody }}\n\n{{ $('Download PDF').item.json.fileUrl }}",
        "options": {
          "expand": "renderedBody"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        160,
        -176
      ],
      "id": "68b95687-a13f-45c8-9dd9-0c4f8b736a1d",
      "name": "Add Comment on Jira with document",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "qwZRnufdYqNv5Ery",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Monday Task / Comment ",
        "height": 380,
        "width": 360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1776,
        32
      ],
      "typeVersion": 1,
      "id": "6988c64c-eb5f-4dc3-8ff7-44e004d33652",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Check \nTask, Comment or Pass Data according to Ticket type",
        "height": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        32
      ],
      "typeVersion": 1,
      "id": "36185d1d-4ded-4aec-b5d3-da229f6dd763",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get monday ticket detail\nget Ticket detail and Create JSON according to ticket",
        "height": 300,
        "width": 380,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        -160
      ],
      "typeVersion": 1,
      "id": "fe5ab853-ef20-4ede-bf6a-ca621a3a3169",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Create Jira Ticket",
        "height": 240,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        160
      ],
      "typeVersion": 1,
      "id": "8969b925-52bc-4732-8bb6-283f4e8fd42d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "501e690c-1c5f-4ec7-b8b9-675f6abb4625",
              "leftValue": "={{ $json.body.event.groupName }}",
              "rightValue": "Subitems",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        304
      ],
      "id": "ed3037d9-2306-417e-9ceb-5015213a5f41",
      "name": "Check is ticket or subtask"
    },
    {
      "parameters": {
        "content": "## Check Ticket Type\nCheck this ticket is ticket or subtask",
        "height": 300,
        "width": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1152,
        160
      ],
      "typeVersion": 1,
      "id": "7b68197e-4a7d-43fb-bf1f-d4fba8f47501",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Check Comment detail\nChecking the Comment has any pdf attached or not",
        "height": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -736,
        -160
      ],
      "typeVersion": 1,
      "id": "51f88b86-efbf-4e2c-b5e7-d1310c62ff29",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bd1cf63-bd8b-4195-88ba-3b3524cfac31",
              "leftValue": "={{ $json.isPublicURl }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -688,
        -16
      ],
      "id": "8c2892b1-3ea1-4812-a11a-411d8da91721",
      "name": "If Comment has File"
    },
    {
      "parameters": {
        "content": "## Add new Comment in jira ticket and Attaching file\n",
        "height": 240,
        "width": 860,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -240
      ],
      "typeVersion": 1,
      "id": "41bdae26-f3e2-4a4d-b5a3-163b42b34e63",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Add Comment Without any attachments",
        "height": 240,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        32
      ],
      "typeVersion": 1,
      "id": "6fff8f16-6c33-4987-84a8-0fe0df9c59e1",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsByKey": false,
          "jql": "=project = \"SSP\" AND summary ~ \"{{ $('Get Update Of Board').item.json.data.items[0].name }}\" ORDER BY created DESC "
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        -368,
        80
      ],
      "id": "d711aa89-4cac-452e-9ae2-8d94e3d5d33d",
      "name": "Get Jira Tickets",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "qwZRnufdYqNv5Ery",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Jira Ticket and Create subtask",
        "height": 260,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        432
      ],
      "typeVersion": 1,
      "id": "575915d2-2fb3-44d9-a167-70c78658008e",
      "name": "Sticky Note8"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kiteworks-demo.app.n8n.cloud",
            "user-agent": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)",
            "content-length": "584",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "185.237.7.128",
            "cf-ew-via": "15",
            "cf-ipcountry": "IL",
            "cf-ray": "97a3a3ab62624dd5-SYD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "traceparent": "00-18a23342973f18cbfd9e9ee46320f813-082d17c9177feb21-01",
            "x-forwarded-for": "185.237.7.128, 108.162.249.58",
            "x-forwarded-host": "kiteworks-demo.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-28-7b57cfbbf9-cjcph",
            "x-is-trusted": "yes",
            "x-real-ip": "185.237.7.128",
            "x-request-start": "1757053421002"
          },
          "params": {},
          "query": {},
          "body": {
            "event": {
              "app": "monday",
              "type": "create_update",
              "triggerTime": "2025-09-05T06:23:40.982Z",
              "subscriptionId": 22750648,
              "isRetry": false,
              "userId": 79605098,
              "originalTriggerUuid": null,
              "boardId": 2055370388,
              "pulseId": 2069053561,
              "body": "<p>Adding Comment<a href=\"https://vtnetzwelt-cast.monday.com/protected_static/30726263/resources/41628563/1754661394.pdf\" target=\"_blank\" data-asset_id=\"41628563\" rel=\"noopener noreferrer\"><br>﻿1754661394.pdf</a>﻿</p>",
              "textBody": "Adding Comment1754661394.pdf",
              "updateId": 58659896,
              "replyId": null,
              "triggerUuid": "b28002bcf1a6d7ae238920472133d2b6"
            }
          },
          "webhookUrl": "https://kiteworks-demo.app.n8n.cloud/webhook/14d0c30a-93bd-4d41-9022-93f273913392",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "is Item or Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Jira Software",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF-Link": {
      "main": [
        [
          {
            "node": "If Comment has File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Update Of Board": {
      "main": [
        [
          {
            "node": "Extract PDF-Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is Item or Update": {
      "main": [
        [
          {
            "node": "Get Update Of Board",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check is ticket or subtask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Software": {
      "main": [
        [
          {
            "node": "Add Comment on Jira with document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parent Board Update Of Board": {
      "main": [
        [
          {
            "node": "Get Jira Tickets For Subtask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jira Tickets For Subtask": {
      "main": [
        [
          {
            "node": "Creating  Sub task in Jira without document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check is ticket or subtask": {
      "main": [
        [
          {
            "node": "Creating Jira without document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Parent Board Update Of Board",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Comment has File": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Jira Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jira Tickets": {
      "main": [
        [
          {
            "node": "Add Comment on Jira without document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0a85914a-afef-4374-9469-f84e6269c297",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df84aabde100aa05593387178bc610115413e5c8d1c284452547dcf1bf949649"
  },
  "id": "XeiV3LwN2MdBRrV1",
  "tags": []
}