Phantom bustom with 25Q3_All_Intent Signal Response Workflow.json
{
  "name": "Phantom bustom with 25Q3_All_Intent Signal Response Workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Enhanced Rate-Limited Webhook Parser - Max 30 posts per day\n// Post URL validation completely removed\n\n// Get both the HTTP response data and original webhook data\nconst httpResponseData = $input.item.json; // Profile data from HTTP request\nconst originalWebhookData = $input.first().json; // Original webhook from first node\n\n// Merge them for processing\nconst webhookData = {\n  ...originalWebhookData,\n  enrichedProfile: httpResponseData\n};\n\n// Get current date for daily tracking\nconst today = new Date().toISOString().split('T')[0]; // Format: YYYY-MM-DD\nconst now = new Date();\n\n// JSONBin.io configuration\nconst binId = '68c106bc43b1c97be93d5662';\nconst apiKey = 'token';\n\n// Extract posted date for age validation only\nconst postedDateStr = originalWebhookData.body?.posted_date;\n\n// Basic validation checks (removed business hours and post URL validation)\nconst isWeekday = new Date().getDay() >= 1 && new Date().getDay() <= 5;\n\n// Check post age (must be within 14 days)\nlet isPostFresh = false;\nlet postAgeInDays = null;\n\nif (postedDateStr) {\n  const postedDate = new Date(postedDateStr);\n  const daysDifference = Math.floor((now - postedDate) / (1000 * 60 * 60 * 24));\n  postAgeInDays = daysDifference;\n  isPostFresh = daysDifference <= 14;\n}\n\nlet shouldProcess = false;\nlet processingStatus = {\n  shouldProcess: false,\n  reason: 'Checking daily limits...',\n  currentTime: now.toISOString(),\n  weekday: isWeekday,\n  postAge: postAgeInDays,\n  postFresh: isPostFresh,\n  dailyCount: 0,\n  dailyLimit: 30,\n  alreadyProcessed: false\n};\n\n// Only proceed with API calls if basic conditions are met (removed post URL check)\nif (isWeekday && isPostFresh) {\n  try {\n    // Get current data from JSONBin\n    const getResponse = await fetch(`https://api.jsonbin.io/v3/b/${binId}`, {\n      method: 'GET',\n      headers: {\n        'X-Master-Key': apiKey,\n        'Content-Type': 'application/json'\n      }\n    });\n    \n    if (getResponse.ok) {\n      const data = await getResponse.json();\n      const binData = data.record || {};\n      \n      // Initialize structure if needed\n      if (!binData.dailyCounts) binData.dailyCounts = {};\n      if (!binData.processedPosts) binData.processedPosts = [];\n      \n      const todayCount = binData.dailyCounts[today] || 0;\n      processingStatus.dailyCount = todayCount;\n      \n      // Simple duplicate check using timestamp (since we removed post URL validation)\n      const currentTimestamp = now.getTime();\n      const alreadyProcessed = binData.processedPosts.some(entry => \n        Math.abs(new Date(entry.processedTime).getTime() - currentTimestamp) < 60000 // within 1 minute\n      );\n      processingStatus.alreadyProcessed = alreadyProcessed;\n      \n      if (!alreadyProcessed && todayCount < 30) {\n        // We can process this signal - increment the counter\n        const updatedBinData = {\n          ...binData,\n          dailyCounts: {\n            ...binData.dailyCounts,\n            [today]: todayCount + 1\n          },\n          processedPosts: [\n            ...binData.processedPosts,\n            {\n              processedDate: today,\n              processedTime: now.toISOString()\n            }\n          ]\n        };\n        \n        // Clean up old data\n        const thirtyDaysAgo = new Date();\n        thirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\n        \n        // Remove old daily counts\n        Object.keys(updatedBinData.dailyCounts).forEach(date => {\n          if (new Date(date) < thirtyDaysAgo) {\n            delete updatedBinData.dailyCounts[date];\n          }\n        });\n        \n        // Remove old processed posts (keep only last 60 days)\n        const sixtyDaysAgo = new Date();\n        sixtyDaysAgo.setDate(sixtyDaysAgo.getDate() - 60);\n        updatedBinData.processedPosts = updatedBinData.processedPosts.filter(entry => \n          new Date(entry.processedDate) >= sixtyDaysAgo\n        );\n        \n        // Update the bin with new data\n        const updateResponse = await fetch(`https://api.jsonbin.io/v3/b/${binId}`, {\n          method: 'PUT',\n          headers: {\n            'X-Master-Key': apiKey,\n            'Content-Type': 'application/json'\n          },\n          body: JSON.stringify(updatedBinData)\n        });\n        \n        if (updateResponse.ok) {\n          shouldProcess = true;\n          processingStatus.shouldProcess = true;\n          processingStatus.reason = `Processed (${todayCount + 1}/30 today)`;\n          processingStatus.dailyCount = todayCount + 1;\n        } else {\n          processingStatus.reason = 'Failed to update tracking data';\n        }\n        \n      } else {\n        if (alreadyProcessed) {\n          processingStatus.reason = 'Recently processed - duplicate detected';\n        } else {\n          processingStatus.reason = `Daily limit reached (${todayCount}/30)`;\n        }\n      }\n      \n    } else {\n      processingStatus.reason = 'Failed to check tracking data - API error';\n    }\n    \n  } catch (error) {\n    // If JSONBin fails, fall back to basic time-based limiting\n    console.log('JSONBin error, using fallback:', error);\n    shouldProcess = true;\n    processingStatus.shouldProcess = true;\n    processingStatus.reason = 'JSONBin unavailable - proceeding with fallback';\n  }\n  \n} else {\n  // Basic conditions not met\n  if (!isWeekday) {\n    processingStatus.reason = 'Weekend - skipping';\n  } else if (!isPostFresh) {\n    processingStatus.reason = `Post too old (${postAgeInDays} days - limit: 30 days)`;\n  }\n}\n\n// Extract all the main sections from original webhook data\nconst company = originalWebhookData.body?.company || {};\nconst prospect = originalWebhookData.body?.prospect || {};\nconst linkedinEngagement = originalWebhookData.body?.linkedin_engagement || {};\nconst enrichedEmails = prospect.enriched_email || [];\nconst enrichedPhones = prospect.enriched_phone || [];\n\n// Get headers from the original webhook\nconst headers = originalWebhookData.headers || {};\n\n\n\nreturn {\n  // Rate limiting information\n  rateLimiting: processingStatus,\n  \n  // Enriched profile data from HTTP request\n  enrichedProfile: httpResponseData,\n  \n  // Original webhook metadata\n  webhookUrl: originalWebhookData.webhookUrl,\n  executionMode: originalWebhookData.executionMode,\n\n  \n  // Request headers (useful for verification)\n  svixId: headers['svix-id'],\n  svixSignature: headers['svix-signature'],\n  svixTimestamp: headers['svix-timestamp'],\n  userAgent: headers['user-agent'],\n  contentType: headers['content-type'],\n  \n  // Company information from original webhook\n  company: {\n    name: company.name,\n    domain: company.domain,\n    industry: company.industry,\n    linkedinUrl: company.linkedin_url,\n    location: company.location,\n    logo: company.logo,\n    size: company.size,\n    linkedinUsername: company.linkedinUsername\n  },\n  \n  // LinkedIn engagement details from original webhook\n  engagement: {\n    type: linkedinEngagement.type,\n    text: linkedinEngagement.text,\n    postText: linkedinEngagement.linkedin_post?.text,\n    postedDate: postedDateStr\n  },\n  \n  // Prospect information from original webhook\n  prospect: {\n    firstName: prospect.first_name,\n    lastName: prospect.last_name,\n    jobTitle: prospect.job_title,\n    linkedinUrl: prospect.linkedin_url,\n    locationName: prospect.location_name,\n    enrichedEmails: enrichedEmails,\n    enrichedPhones: enrichedPhones\n  },\n  \n  // Keep raw data for debugging\n  rawData: webhookData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        432
      ],
      "id": "2ae2e5d6-797d-4a78-976e-82a8d8661357",
      "name": "Code - Parse Comments"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93337e6e-d03a-43dd-a18d-ce8d8e93fb03",
              "name": "rawData.element.firstName",
              "value": "={{ $json.rawData.element.firstName }}",
              "type": "string"
            },
            {
              "id": "002bf13a-4739-40fc-bc43-ed4f1c912e48",
              "name": "rawData.element.lastName",
              "value": "={{ $json.rawData.element.lastName }}",
              "type": "string"
            },
            {
              "id": "beffdd4e-a969-460a-83f5-62230251140d",
              "name": "rawData.element.headline",
              "value": "={{ $json.rawData.element.headline }}",
              "type": "string"
            },
            {
              "id": "a29c64d5-de0c-4846-a099-8ac5e09de660",
              "name": "rawData.element.location.countryCode",
              "value": "={{ $json.rawData.element.location.countryCode }}",
              "type": "string"
            },
            {
              "id": "b460f7ab-9eef-4405-a487-fa239e5b04cd",
              "name": "rawData.element.location.parsed.city",
              "value": "={{ $json.rawData.element.location.parsed.city }}",
              "type": "string"
            },
            {
              "id": "4fca3c4e-ffdc-4a3a-a36f-9d378cbf7060",
              "name": "rawData.element.location.parsed.state",
              "value": "={{ $json.rawData.element.location.parsed.state }}",
              "type": "string"
            },
            {
              "id": "ab463071-795b-4413-892d-d153b8e60fb0",
              "name": "rawData.element.verified",
              "value": "={{ $json.rawData.element.verified }}",
              "type": "boolean"
            },
            {
              "id": "24e26807-57e9-4467-ab02-8e26b9e39656",
              "name": "rawData.element.currentPosition[0].companyName",
              "value": "={{ $json.rawData.element.currentPosition[0].companyName }}",
              "type": "string"
            },
            {
              "id": "bb3743ec-21da-4c8b-b3b0-c5a711e2f74a",
              "name": "rawData.element.experience[0].position",
              "value": "={{ $json.rawData.element.experience[0].position }}",
              "type": "string"
            },
            {
              "id": "2f06509d-bc8a-425d-9e89-c151ffa69313",
              "name": "element.linkedinUrl",
              "value": "={{ $('Get Linkedin User Details').item.json.element.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "f4b90f7c-bdda-47af-af8a-c64a8b0bacf2",
              "name": "body.posted_date",
              "value": "={{ $('Previous Trigify Response').item.json.posted_date }}",
              "type": "string"
            },
            {
              "id": "c1e6acab-f4d4-4042-ad5f-360f0217b858",
              "name": "body.post_url",
              "value": "={{ $('Previous Trigify Response').item.json.post_url }}",
              "type": "string"
            },
            {
              "id": "296dd45b-bfc9-41b3-8f39-c2278468f7f2",
              "name": "body.content",
              "value": "={{ $('Previous Trigify Response').item.json.content }}",
              "type": "string"
            },
            {
              "id": "623b8fa1-c657-4622-80aa-131e327a8b31",
              "name": "rawData.element.id",
              "value": "={{ $json.rawData.element.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        432
      ],
      "id": "40ad3825-e1d8-4bf1-b035-1f15eb42fd1a",
      "name": "Edit Fields - LinkedIn Profile Data"
    },
    {
      "parameters": {
        "content": "## Pull in commenter Linkedin profile data - Denzel Workflow",
        "height": 800,
        "width": 3960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e6bc8133-7239-4ff6-94c8-ee254d2b5d5d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You job is to generate Linkedin comment responses for this topic: {{ $json.body.content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You have access to a tool called \"AiAgentNatalie\" that provides information about Kiteworks products.\nUse AiAgentNatalie to create a professional LinkedIn direct message incorporating relevant Kiteworks information.\nAlways use the AiAgentNatalie tool rather than creating messages yourself.\n{\n  \"query\": \"You MUST create a LinkedIn direct message with hyper-specific value propositions for the job title and industry. Do NOT use generic industry knowledge.\n\nYou are writing a message to: \nName: {{ $json.rawData.element.firstName }}\nJob Title: {{ $json.rawData.element.experience[0].position }}\nCompany: {{ $json.rawData.element.currentPosition[0].companyName }}\n\nCONTEXT:\n{{ $json.rawData.element.firstName }} created a post at:\n{{ $json.body.post_url }}\n\nPost Content:\n{{ $json.body.content }}\n\nJOB TITLE ANALYSIS FRAMEWORK:\n- C-Level (CEO, CFO, CTO, etc.): Focus on strategic business outcomes, board reporting, competitive advantage, financial impact\n- VPs/Directors: Focus on departmental efficiency, team productivity, operational excellence, stakeholder management  \n- Compliance/Legal/Risk: Focus on regulatory requirements, audit readiness, risk mitigation, policy enforcement\n- IT/Security: Focus on technical capabilities, infrastructure optimization, threat prevention, system integration\n- Operations: Focus on process improvement, workflow efficiency, cost reduction, performance metrics\n\nINDUSTRY-SPECIFIC CONSIDERATIONS:\n- Financial Services: Emphasize regulatory compliance, audit trails, data residency\n- Healthcare: Focus on HIPAA compliance, patient data protection, care coordination\n- Manufacturing: Highlight supply chain security, IP protection, operational continuity\n- Technology: Emphasize innovation speed, developer productivity, scalability\n- Government/Public Sector: Focus on transparency, citizen data protection, inter-agency collaboration\n\nCRITICAL OUTPUT FORMAT:\n- Return ONLY the LinkedIn direct message text\n- Do NOT include any explanations, introductions, or meta-commentary\n- Do NOT mention \"Based on information provided by AiAgentNatalie\" \n- Do NOT include phrases like \"Here's the message:\" or \"I'll craft a message\"\n- Start directly with the actual message content\n\nMESSAGE REQUIREMENTS:\nReference their specific post and ONE key point they made that resonated with you\nAcknowledge the challenge or topic they discussed in their post\nShare a brief, relevant insight or observation (not a pitch)\nOffer a helpful perspective or approach that's worked in similar situations\nKeep it conversational - write like you're reaching out to a colleague\nAsk a genuine question about their specific situation or approach\nMaximum 75-100 words for LinkedIn direct message format\nAvoid corporate jargon and feature lists\nDon't name-drop the company unless contextually appropriate\nInclude a natural opening that references seeing their post\n\nTONE GUIDELINES:\nStart with a personal opener: \"I came across your post about...\" / \"Your post on [topic] really resonated...\"\nUse phrases like \"I've seen teams struggle with...\" or \"What's worked well is...\"\nReplace \"enhances/streamlines/ensures\" with simpler words like \"helps/makes easier/protects\"\nEnd with curiosity about THEIR approach: \"How are you handling...\" / \"What's been your experience with...\" / \"Would love to hear your thoughts on...\"\nWrite like you're genuinely interested in connecting and learning about their perspective, not pitching\"\n}\n\nAlways use \"AiAgentNatalie\" information rather than relying on your own knowledge for Kiteworks value propositions. Incorporate the tool's response naturally in your content. Be specific to industry and title in your approach.\n\nRESPONSE FORMAT REQUIREMENT:\nReturn only the LinkedIn direct message text. Do NOT include any explanations, introductions, or meta-commentary.\nDO NOT state what your job title is in your response (required)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2288,
        400
      ],
      "id": "0b2e383e-866b-4af7-85d8-e37209cf2f38",
      "name": "AI Agent",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toolDescription": "provides information about Kiteworks products, features, and resources.",
        "method": "POST",
        "url": "https://www.chatbase.co/api/v1/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer token\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{placeholder}\"\n    }\n  ],\n  \"chatbotId\": \"UTJmgrQ3Zpk_qR1sAUBDh\",\n  \"stream\": true,\n  \"temperature\": 0\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2400,
        624
      ],
      "id": "835a81ec-a93a-46e5-ae54-954e5fe76522",
      "name": "Ai Agent Natalie"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b718cf00-ef83-4f83-ad1a-023dc468771c",
              "leftValue": "={{ $('Edit Fields - LinkedIn Profile Data').item.json.rawData.element.location.countryCode }}",
              "rightValue": "US",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "0668d786-ce59-4fdd-85a3-c655f7bf1e8e",
              "leftValue": "={{ $('Edit Fields - LinkedIn Profile Data').item.json.rawData.element.verified }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "05dce168-cdec-48e9-893a-fc9af3d4fb0e",
              "leftValue": "={{ $json.original_response }}",
              "rightValue": "Error:",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            },
            {
              "id": "0d7c24a5-fec0-403d-9db4-6ff019cb3531",
              "leftValue": "={{ $json.original_response }}",
              "rightValue": "tailored",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            },
            {
              "id": "b5386adf-4bde-48e0-9787-c3f9c16d983f",
              "leftValue": "={{ $json.original_response }}",
              "rightValue": "Fascinating",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            },
            {
              "id": "0029639b-a078-4495-a7e2-3a8db37dd74d",
              "leftValue": "={{ $json.original_response }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2768,
        400
      ],
      "id": "879d9cce-43e8-49ad-9a31-cb139f7f1702",
      "name": "Filter for Errors"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isEastUser }}",
                    "rightValue": "={{ $json.userState }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "d027cbcd-8a21-4130-9c72-c59f5ce88d4a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "East User"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "62690593-0f2e-4e30-a0ce-4dd465ab5eee",
                    "leftValue": "={{ $json.isWestUser }}",
                    "rightValue": "={{ $json.userState }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "West User"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e190817d-10cf-408e-ac02-4a6cd60b5049",
                    "leftValue": "={{ $json.isApacUser }}",
                    "rightValue": "={{ $json.userState }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "APAC Region"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6cb02148-0f88-456f-ba2a-a9f14726c3c7",
                    "leftValue": "={{ $json.isEmeaUser }}",
                    "rightValue": "={{ $json.userState }}",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EMEA Region"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "92b29f14-72d4-4bcb-b7be-139a796efca7",
                    "leftValue": "={{ $json.userRegion }}",
                    "rightValue": "unknown",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3120,
        368
      ],
      "id": "013d74ad-4f00-41fc-89cb-e596ce39f7d3",
      "name": "Check Users States"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        0
      ],
      "id": "ae8e39aa-050e-440f-b1da-c05a86eb8515",
      "name": "Locke User Info",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3344,
        208
      ],
      "id": "dccf9d4c-deb3-4bfc-850b-f4675eabeec4",
      "name": "Lawrence User Info",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/urn:li:activity:{{ $('Manipulate data').item.json.urnId }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:{{ $json.sub }}\",\n  \"message\": {\n    \"text\": \"{{ $('Manipulate data').item.json.aiResponse }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        0
      ],
      "id": "6b622ca2-3e13-4878-8eb4-df3015360cd1",
      "name": "Locke's Comment",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/urn:li:activity:{{ $('Manipulate data').item.json.urnId }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:{{ $json.sub }}\",\n  \"message\": {\n    \"text\": \"{{ $('Manipulate data').item.json.aiResponse }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        208
      ],
      "id": "b74a3ec9-6dfd-46e8-908f-1224de11c08f",
      "name": "Lawrence's Comment",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/harvestapi~linkedin-profile-scraper/run-sync-get-dataset-items?token=token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"queries\": [\n    \"{{ $('Previous Trigify Response').item.json.author_url }}\"\n  ],\n  \"webhookData\": \"{{ $('Previous Trigify Response').item.json }}\",\n  \"postUrl\": \"{{ $('Previous Trigify Response').item.json.post_url }}\",\n  \"postedDate\": \"{{ $('Previous Trigify Response').item.json.posted_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        432
      ],
      "id": "ed7e756e-e561-47ff-bb63-3577b765d2e6",
      "name": "Get Linkedin User Details"
    },
    {
      "parameters": {
        "jsCode": "let urnId;\nconst prevTrigifyData = $('Previous Trigify Response').first().json;\nconst postUrl = prevTrigifyData && prevTrigifyData.post_url;\n\nif (postUrl && postUrl.includes('-activity-')) {\n  let postURLParts = postUrl.split('-activity-');\n  if(postURLParts.length > 1) {\n    urnId = postURLParts[1].split('-')[0];\n  }\n}\n\n// UPDATED: Pull the linkedin_response from the current input\n// This assumes the Parse LinkedIn Comment node outputs to this node\nlet aiResponse = $json.linkedin_response || \"\";\n\n// Fallback: If the response is in a different field, try these alternatives:\nif (!aiResponse) {\n  // Try other possible field names\n  aiResponse = $json.cleanedResponse || \n               $json.response || \n               $json.aiResponse || \n               $json.text || \n               $json.output || \n               \"\";\n}\n\n// Alternative: If you need to reference the previous node directly:\n// let aiResponse = $input.item.json.linkedin_response || \"\";\n\n// Clean up newlines in the response\nif(aiResponse){\n  aiResponse = aiResponse.replaceAll('\\n', ' '); // Replace newlines with spaces\n}\n\nconst eastStates = [\n  // Northeast\n  \"Connecticut\", \"Delaware\", \"Maine\", \"Maryland\", \"Massachusetts\",\n  \"New Hampshire\", \"New Jersey\", \"New York\", \"Pennsylvania\", \"Rhode Island\",\n  \"Vermont\",\n\n  // Midwest\n  \"Illinois\", \"Indiana\", \"Iowa\", \"Kansas\", \"Michigan\", \"Minnesota\",\n  \"Missouri\", \"Nebraska\", \"North Dakota\", \"Ohio\", \"South Dakota\", \"Wisconsin\",\n\n  // South\n  \"Alabama\", \"Arkansas\", \"Florida\", \"Georgia\", \"Kentucky\", \"Louisiana\",\n  \"Mississippi\", \"North Carolina\", \"Oklahoma\", \"South Carolina\", \"Tennessee\",\n  \"Texas\", \"Virginia\", \"West Virginia\"\n];\n\n// Array of states typically considered in the western region\nconst westStates = [\n  // Mountain\n  \"Arizona\", \"Colorado\", \"Idaho\", \"Montana\", \"Nevada\", \"New Mexico\",\n  \"Utah\", \"Wyoming\",\n\n  // Pacific\n  \"Alaska\", \"California\", \"Hawaii\", \"Oregon\", \"Washington\"\n];\n\n// APAC Region - Major States/Provinces\nconst apacStates = [\n  // India (States & UTs)\n  \"Andhra Pradesh\", \"Arunachal Pradesh\", \"Assam\", \"Bihar\", \"Chhattisgarh\",\n  \"Goa\", \"Gujarat\", \"Haryana\", \"Himachal Pradesh\", \"Jharkhand\",\n  \"Karnataka\", \"Kerala\", \"Madhya Pradesh\", \"Maharashtra\", \"Manipur\",\n  \"Meghalaya\", \"Mizoram\", \"Nagaland\", \"Odisha\", \"Punjab\", \"Rajasthan\",\n  \"Sikkim\", \"Tamil Nadu\", \"Telangana\", \"Tripura\", \"Uttar Pradesh\",\n  \"Uttarakhand\", \"West Bengal\", \"Delhi\", \"Jammu and Kashmir\", \"Ladakh\",\n\n  // China (Provinces, Municipalities, Regions - shortened list)\n  \"Anhui\", \"Beijing\", \"Chongqing\", \"Fujian\", \"Gansu\", \"Guangdong\",\n  \"Guangxi\", \"Guizhou\", \"Hainan\", \"Hebei\", \"Heilongjiang\", \"Henan\",\n  \"Hong Kong\", \"Hubei\", \"Hunan\", \"Inner Mongolia\", \"Jiangsu\",\n  \"Jiangxi\", \"Jilin\", \"Liaoning\", \"Macau\", \"Ningxia\", \"Qinghai\",\n  \"Shaanxi\", \"Shandong\", \"Shanghai\", \"Shanxi\", \"Sichuan\", \"Tianjin\",\n  \"Tibet\", \"Xinjiang\", \"Yunnan\", \"Zhejiang\",\n\n  // Australia (States & Territories)\n  \"New South Wales\", \"Victoria\", \"Queensland\", \"Western Australia\",\n  \"South Australia\", \"Tasmania\", \"Northern Territory\", \"Australian Capital Territory\",\n\n  // Japan (Prefectures - shortened to major ones)\n  \"Tokyo\", \"Osaka\", \"Kyoto\", \"Hokkaido\", \"Kanagawa\", \"Aichi\", \"Hyogo\", \"Fukuoka\",\n\n  // Indonesia (Provinces - shortened list)\n  \"Bali\", \"Jakarta\", \"West Java\", \"East Java\", \"Central Java\",\n  \"Sumatra\", \"Kalimantan\", \"Sulawesi\", \"Papua\",\n\n  // Other Key APAC\n  \"Singapore\", // City-state\n  \"Malaysia - Johor\", \"Malaysia - Selangor\", \"Malaysia - Sarawak\",\n  \"New Zealand - North Island\", \"New Zealand - South Island\"\n];\n\n// EMEA Region - Major States/Regions\nconst emeaStates = [\n  // United Kingdom (Countries/Regions)\n  \"England\", \"Scotland\", \"Wales\", \"Northern Ireland\",\n\n  // Germany (Bundesländer)\n  \"Bavaria\", \"Berlin\", \"Brandenburg\", \"Bremen\", \"Hamburg\",\n  \"Hesse\", \"Lower Saxony\", \"Mecklenburg-Vorpommern\", \"North Rhine-Westphalia\",\n  \"Rhineland-Palatinate\", \"Saarland\", \"Saxony\", \"Saxony-Anhalt\",\n  \"Schleswig-Holstein\", \"Thuringia\",\n\n  // France (Regions - simplified)\n  \"Île-de-France\", \"Provence-Alpes-Côte d'Azur\", \"Nouvelle-Aquitaine\",\n  \"Occitanie\", \"Auvergne-Rhône-Alpes\", \"Hauts-de-France\",\n  \"Brittany\", \"Normandy\", \"Grand Est\", \"Pays de la Loire\",\n\n  // Italy (Regions)\n  \"Lombardy\", \"Lazio\", \"Campania\", \"Sicily\", \"Veneto\", \"Piedmont\",\n  \"Emilia-Romagna\", \"Tuscany\", \"Apulia\", \"Sardinia\",\n\n  // Spain (Autonomous Communities)\n  \"Andalusia\", \"Catalonia\", \"Madrid\", \"Valencia\", \"Galicia\",\n  \"Basque Country\", \"Castile and León\", \"Aragon\", \"Canary Islands\", \"Balearic Islands\",\n\n  // South Africa (Provinces)\n  \"Gauteng\", \"KwaZulu-Natal\", \"Western Cape\", \"Eastern Cape\",\n  \"Limpopo\", \"Mpumalanga\", \"North West\", \"Free State\", \"Northern Cape\",\n\n  // Nigeria (Major States)\n  \"Lagos\", \"Abuja (FCT)\", \"Kano\", \"Rivers\", \"Oyo\", \"Kaduna\", \"Delta\",\n\n  // Egypt (Governorates - simplified)\n  \"Cairo\", \"Alexandria\", \"Giza\", \"Luxor\", \"Aswan\", \"Red Sea\",\n\n  // Saudi Arabia (Provinces)\n  \"Riyadh\", \"Makkah\", \"Madinah\", \"Eastern Province\", \"Asir\", \"Jazan\", \"Najran\", \"Tabuk\",\n\n  // UAE (Emirates)\n  \"Abu Dhabi\", \"Dubai\", \"Sharjah\", \"Ajman\", \"Fujairah\", \"Ras Al Khaimah\", \"Umm Al Quwain\",\n\n  // Turkey (Major Provinces)\n  \"Istanbul\", \"Ankara\", \"Izmir\", \"Bursa\", \"Antalya\", \"Konya\"\n];\n\n// Get user state - make sure this references the correct node\nlet userState = \"\";\ntry {\n  userState = $('Get Linkedin User Details').first().json.element.location.parsed.state || $('Get Linkedin UserDetail').first().json.location.parsed.state;\n} catch(e) {\n  // Fallback if the node reference doesn't work\n  console.log(\"Could not get user state from 'Get Linkedin User Details' node\");\n}\n\n// Determine user region\nlet userRegion = \"unknown\";\nif (userState && eastStates.includes(userState)) {\n  userRegion = \"east\";\n} else if (userState && westStates.includes(userState)) {\n  userRegion = \"west\";\n} else if (userState && apacStates.includes(userState)) {\n  userRegion = \"apac\";\n} else if (userState && emeaStates.includes(userState)) {\n  userRegion = \"emea\";\n}\n\n// Debug output to help troubleshoot\nconsole.log(\"AI Response found:\", aiResponse ? aiResponse.substring(0, 100) + \"...\" : \"No response found\");\nconsole.log(\"User State:\", userState);\nconsole.log(\"User Region:\", userRegion);\n\nreturn {\n  urnId: urnId,\n  urnHasId: urnId ? true : false,\n  aiResponse: aiResponse,\n  userState: userState,\n  userRegion: userRegion,\n  isEastUser: userRegion === \"east\",\n  isWestUser: userRegion === \"west\",  \n  isApacUser: userRegion === \"apac\",\n  isEmeaUser: userRegion === \"emea\",\n  // Add debug info\n  debug: {\n    responseLength: aiResponse ? aiResponse.length : 0,\n    responseFound: !!aiResponse,\n    stateFound: !!userState\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        224
      ],
      "id": "f55b60a3-97ee-4bd2-b435-a1e078eee1c3",
      "name": "Manipulate data"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        608
      ],
      "id": "fa3c4628-94d5-4a9c-8b64-6dc3756f6ef9",
      "name": "EMEA User Info",
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3568,
        400
      ],
      "id": "25f27817-3019-41ae-a2f4-32276f8cac29",
      "name": "APAC User Info",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/urn:li:activity:{{ $('Manipulate data').item.json.urnId }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:{{ $json.sub }}\",\n  \"message\": {\n    \"text\": \"{{ $('AI Agent').item.json.output }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3792,
        400
      ],
      "id": "a9392630-29e4-4332-9711-485cd79dcbf9",
      "name": "APAC Agent's Comment",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/urn:li:activity:{{ $('Manipulate data').item.json.urnId }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:{{ $json.sub }}\",\n  \"message\": {\n    \"text\": \"{{ $('AI Agent').item.json.output }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3792,
        608
      ],
      "id": "7290d806-4cdf-4882-98a4-3f605f55fc42",
      "name": "EMEA's Agent Comment",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3344,
        608
      ],
      "id": "386afac9-dfb9-4f56-9e4a-c04586abbb26",
      "name": "No Operation, do nothing - EMEA"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3344,
        400
      ],
      "id": "2bae75c9-632e-4ae4-9ca8-ff6ed85452bd",
      "name": "No Operation, do nothing - APAC"
    },
    {
      "parameters": {
        "content": "## Unknown State's go to Denzel :)",
        "height": 380,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3248,
        864
      ],
      "id": "60344a05-5fce-4a5d-96da-075351922434",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        432
      ],
      "id": "cda7044f-e461-4950-9533-e543aeaa6f71",
      "name": "Wait - 15 Minutes",
      "webhookId": "7b94f468-2c79-451e-891b-14dacb39942c"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        960
      ],
      "id": "d18a5b8b-99c5-430d-a5ce-ade246aa4def",
      "name": "Denzel User Info",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.linkedin.com/v2/socialActions/urn:li:activity:{{ $('Manipulate data').item.json.urnId }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer token"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202401"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"actor\": \"urn:li:person:{{ $json.sub }}\",\n  \"message\": {\n    \"text\": \"{{ $('AI Agent').item.json.output }}\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        960
      ],
      "id": "fd10d8d3-c1bf-4803-9084-3095187b3821",
      "name": "Denzel Comment",
      "disabled": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.jsonbin.io/v3/b/68c162a2d0ea881f40789f9c",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Master-Key",
              "value": "token"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1488
      ],
      "id": "bea84739-d199-4885-9efd-233a96cfc170",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Rate-Limited Webhook Parser - Max 30 posts per day\n// Post URL validation completely removed\n\n// Get both the HTTP response data and original webhook data\nconst httpResponseData = $input.item.json; // Profile data from HTTP request\nconst originalWebhookData = $input.first().json; // Original webhook from first node\n\n// Merge them for processing\nconst webhookData = {\n  ...originalWebhookData,\n  enrichedProfile: httpResponseData\n};\n\n// Get current date for daily tracking\nconst today = new Date().toISOString().split('T')[0]; // Format: YYYY-MM-DD\nconst now = new Date();\n\n// JSONBin.io configuration\nconst binId = '68c106bc43b1c97be93d5662';\nconst apiKey = 'token';\n\n// Extract posted date for age validation only\nconst postedDateStr = originalWebhookData.body?.posted_date;\n\n// Basic validation checks (removed business hours and post URL validation)\nconst isWeekday = new Date().getDay() >= 1 && new Date().getDay() <= 5;\n\n// Check post age (must be within 14 days)\nlet isPostFresh = false;\nlet postAgeInDays = null;\n\nif (postedDateStr) {\n  const postedDate = new Date(postedDateStr);\n  const daysDifference = Math.floor((now - postedDate) / (1000 * 60 * 60 * 24));\n  postAgeInDays = daysDifference;\n  isPostFresh = daysDifference <= 14;\n}\n\nlet shouldProcess = false;\nlet processingStatus = {\n  shouldProcess: false,\n  reason: 'Checking daily limits...',\n  currentTime: now.toISOString(),\n  weekday: isWeekday,\n  postAge: postAgeInDays,\n  postFresh: isPostFresh,\n  dailyCount: 0,\n  dailyLimit: 30,\n  alreadyProcessed: false\n};\n\n// Only proceed with API calls if basic conditions are met (removed post URL check)\nif (isWeekday && isPostFresh) {\n  try {\n    // Get current data from JSONBin\n    const getResponse = await fetch(`https://api.jsonbin.io/v3/b/${binId}`, {\n      method: 'GET',\n      headers: {\n        'X-Master-Key': apiKey,\n        'Content-Type': 'application/json'\n      }\n    });\n    \n    if (getResponse.ok) {\n      const data = await getResponse.json();\n      const binData = data.record || {};\n      \n      // Initialize structure if needed\n      if (!binData.dailyCounts) binData.dailyCounts = {};\n      if (!binData.processedPosts) binData.processedPosts = [];\n      \n      const todayCount = binData.dailyCounts[today] || 0;\n      processingStatus.dailyCount = todayCount;\n      \n      // Simple duplicate check using timestamp (since we removed post URL validation)\n      const currentTimestamp = now.getTime();\n      const alreadyProcessed = binData.processedPosts.some(entry => \n        Math.abs(new Date(entry.processedTime).getTime() - currentTimestamp) < 60000 // within 1 minute\n      );\n      processingStatus.alreadyProcessed = alreadyProcessed;\n      \n      if (!alreadyProcessed && todayCount < 30) {\n        // We can process this signal - increment the counter\n        const updatedBinData = {\n          ...binData,\n          dailyCounts: {\n            ...binData.dailyCounts,\n            [today]: todayCount + 1\n          },\n          processedPosts: [\n            ...binData.processedPosts,\n            {\n              processedDate: today,\n              processedTime: now.toISOString()\n            }\n          ]\n        };\n        \n        // Clean up old data\n        const thirtyDaysAgo = new Date();\n        thirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\n        \n        // Remove old daily counts\n        Object.keys(updatedBinData.dailyCounts).forEach(date => {\n          if (new Date(date) < thirtyDaysAgo) {\n            delete updatedBinData.dailyCounts[date];\n          }\n        });\n        \n        // Remove old processed posts (keep only last 60 days)\n        const sixtyDaysAgo = new Date();\n        sixtyDaysAgo.setDate(sixtyDaysAgo.getDate() - 60);\n        updatedBinData.processedPosts = updatedBinData.processedPosts.filter(entry => \n          new Date(entry.processedDate) >= sixtyDaysAgo\n        );\n        \n        // Update the bin with new data\n        const updateResponse = await fetch(`https://api.jsonbin.io/v3/b/${binId}`, {\n          method: 'PUT',\n          headers: {\n            'X-Master-Key': apiKey,\n            'Content-Type': 'application/json'\n          },\n          body: JSON.stringify(updatedBinData)\n        });\n        \n        if (updateResponse.ok) {\n          shouldProcess = true;\n          processingStatus.shouldProcess = true;\n          processingStatus.reason = `Processed (${todayCount + 1}/30 today)`;\n          processingStatus.dailyCount = todayCount + 1;\n        } else {\n          processingStatus.reason = 'Failed to update tracking data';\n        }\n        \n      } else {\n        if (alreadyProcessed) {\n          processingStatus.reason = 'Recently processed - duplicate detected';\n        } else {\n          processingStatus.reason = `Daily limit reached (${todayCount}/30)`;\n        }\n      }\n      \n    } else {\n      processingStatus.reason = 'Failed to check tracking data - API error';\n    }\n    \n  } catch (error) {\n    // If JSONBin fails, fall back to basic time-based limiting\n    console.log('JSONBin error, using fallback:', error);\n    shouldProcess = true;\n    processingStatus.shouldProcess = true;\n    processingStatus.reason = 'JSONBin unavailable - proceeding with fallback';\n  }\n  \n} else {\n  // Basic conditions not met\n  if (!isWeekday) {\n    processingStatus.reason = 'Weekend - skipping';\n  } else if (!isPostFresh) {\n    processingStatus.reason = `Post too old (${postAgeInDays} days - limit: 30 days)`;\n  }\n}\n\n// Extract all the main sections from original webhook data\nconst company = originalWebhookData.body?.company || {};\nconst prospect = originalWebhookData.body?.prospect || {};\nconst linkedinEngagement = originalWebhookData.body?.linkedin_engagement || {};\nconst enrichedEmails = prospect.enriched_email || [];\nconst enrichedPhones = prospect.enriched_phone || [];\n\n// Get headers from the original webhook\nconst headers = originalWebhookData.headers || {};\n\nreturn {\n  // Rate limiting information\n  rateLimiting: processingStatus,\n  \n  // Enriched profile data from HTTP request\n  enrichedProfile: httpResponseData,\n  \n  // Original webhook metadata\n  webhookUrl: originalWebhookData.webhookUrl,\n  executionMode: originalWebhookData.executionMode,\n  \n  // Request headers (useful for verification)\n  svixId: headers['svix-id'],\n  svixSignature: headers['svix-signature'],\n  svixTimestamp: headers['svix-timestamp'],\n  userAgent: headers['user-agent'],\n  contentType: headers['content-type'],\n  \n  // Company information from original webhook\n  company: {\n    name: company.name,\n    domain: company.domain,\n    industry: company.industry,\n    linkedinUrl: company.linkedin_url,\n    location: company.location,\n    logo: company.logo,\n    size: company.size,\n    linkedinUsername: company.linkedinUsername\n  },\n  \n  // LinkedIn engagement details from original webhook\n  engagement: {\n    type: linkedinEngagement.type,\n    text: linkedinEngagement.text,\n    postText: linkedinEngagement.linkedin_post?.text,\n    postedDate: postedDateStr\n  },\n  \n  // Prospect information from original webhook\n  prospect: {\n    firstName: prospect.first_name,\n    lastName: prospect.last_name,\n    jobTitle: prospect.job_title,\n    linkedinUrl: prospect.linkedin_url,\n    locationName: prospect.location_name,\n    enrichedEmails: enrichedEmails,\n    enrichedPhones: enrichedPhones\n  },\n  \n  // Keep raw data for debugging\n  rawData: webhookData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        1248
      ],
      "id": "21c1ab8b-ea41-491f-8efb-232ba399ccee",
      "name": "Code - Parse Comments1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93337e6e-d03a-43dd-a18d-ce8d8e93fb03",
              "name": "rawData.element.firstName",
              "value": "={{ $json.rawData.element.firstName }}",
              "type": "string"
            },
            {
              "id": "002bf13a-4739-40fc-bc43-ed4f1c912e48",
              "name": "rawData.element.lastName",
              "value": "={{ $json.rawData.element.lastName }}",
              "type": "string"
            },
            {
              "id": "beffdd4e-a969-460a-83f5-62230251140d",
              "name": "rawData.element.headline",
              "value": "={{ $json.rawData.element.headline }}",
              "type": "string"
            },
            {
              "id": "a29c64d5-de0c-4846-a099-8ac5e09de660",
              "name": "rawData.element.location.countryCode",
              "value": "={{ $json.rawData.element.location.countryCode }}",
              "type": "string"
            },
            {
              "id": "b460f7ab-9eef-4405-a487-fa239e5b04cd",
              "name": "rawData.element.location.parsed.city",
              "value": "={{ $json.rawData.element.location.parsed.city }}",
              "type": "string"
            },
            {
              "id": "4fca3c4e-ffdc-4a3a-a36f-9d378cbf7060",
              "name": "rawData.element.location.parsed.state",
              "value": "={{ $json.rawData.element.location.parsed.state }}",
              "type": "string"
            },
            {
              "id": "ab463071-795b-4413-892d-d153b8e60fb0",
              "name": "rawData.element.verified",
              "value": "={{ $json.rawData.element.verified }}",
              "type": "boolean"
            },
            {
              "id": "24e26807-57e9-4467-ab02-8e26b9e39656",
              "name": "rawData.element.currentPosition[0].companyName",
              "value": "={{ $json.rawData.element.currentPosition[0].companyName }}",
              "type": "string"
            },
            {
              "id": "bb3743ec-21da-4c8b-b3b0-c5a711e2f74a",
              "name": "rawData.element.experience[0].position",
              "value": "={{ $json.rawData.element.experience[0].position }}",
              "type": "string"
            },
            {
              "id": "2f06509d-bc8a-425d-9e89-c151ffa69313",
              "name": "element.linkedinUrl",
              "value": "={{ $('Get Linkedin User Details1').item.json.element.linkedinUrl }}",
              "type": "string"
            },
            {
              "id": "f4b90f7c-bdda-47af-af8a-c64a8b0bacf2",
              "name": "body.posted_date",
              "value": "={{ $('Edit Fields').item.json.posted_date }}",
              "type": "string"
            },
            {
              "id": "c1e6acab-f4d4-4042-ad5f-360f0217b858",
              "name": "body.post_url",
              "value": "={{ $('Edit Fields').item.json.post_url }}",
              "type": "string"
            },
            {
              "id": "296dd45b-bfc9-41b3-8f39-c2278468f7f2",
              "name": "body.content",
              "value": "={{ $('Edit Fields').item.json.content }}",
              "type": "string"
            },
            {
              "id": "623b8fa1-c657-4622-80aa-131e327a8b31",
              "name": "rawData.element.id",
              "value": "={{ $json.rawData.element.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        1248
      ],
      "id": "a5508651-b961-4957-a24c-cfbaf6289ad9",
      "name": "Edit Fields - LinkedIn Profile Data1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You job is to generate Linkedin comment responses for this topic: Zero Trust Security & Data Networks\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You have access to a tool called \"AiAgentNatalie\" that provides information about Kiteworks products.\n\nUse AiAgentNatalie to create a professional response to a LinkedIn comment incorporating relevant Kiteworks information.\n\nAlways use the AiAgentNatalie tool rather than creating emails yourself.\n\n{\n  \"query\": \"You MUST create a LinkedIn response with hyper-specific value propositions for the job title and industry. Do NOT use generic industry knowledge.\n\nYou are writing a response for: \nName: {{ $json.rawData.element.firstName }}\nJob Title: {{ $json.rawData.element.experience[0].position }}\nCompany: {{ $json.rawData.element.currentPosition[0].companyName }}\n\n{{ $json.rawData.element.firstName }} commented on Social Post URL:\n{{ $json.body.post_url }}\n\nComment to respond to:\n{{ $json.body.content }}\n\nJOB TITLE ANALYSIS FRAMEWORK:\n- C-Level (CEO, CFO, CTO, etc.): Focus on strategic business outcomes, board reporting, competitive advantage, financial impact\n- VPs/Directors: Focus on departmental efficiency, team productivity, operational excellence, stakeholder management  \n- Compliance/Legal/Risk: Focus on regulatory requirements, audit readiness, risk mitigation, policy enforcement\n- IT/Security: Focus on technical capabilities, infrastructure optimization, threat prevention, system integration\n- Operations: Focus on process improvement, workflow efficiency, cost reduction, performance metrics\n\nINDUSTRY-SPECIFIC CONSIDERATIONS:\n- Financial Services: Emphasize regulatory compliance, audit trails, data residency\n- Healthcare: Focus on HIPAA compliance, patient data protection, care coordination\n- Manufacturing: Highlight supply chain security, IP protection, operational continuity\n- Technology: Emphasize innovation speed, developer productivity, scalability\n- Government/Public Sector: Focus on transparency, citizen data protection, inter-agency collaboration\n\nCRITICAL OUTPUT FORMAT:\n- Return ONLY the LinkedIn comment response text\n- Do NOT include any explanations, introductions, or meta-commentary\n- Do NOT mention \"Based on information provided by AiAgentNatalie\" or reference the tool in any way\n- Do NOT include phrases like \"Here's the response:\" or \"I'll craft a response\"\n- Start directly with the actual comment content\n\nRESPONSE REQUIREMENTS:\n- Reference ONE specific point from their comment that resonated with you\n- Share a brief insight or observation about the challenge they mentioned (not a pitch)\n- Offer 2-3 specific Kiteworks capabilities tailored to their job title and industry\n- Keep it conversational, like talking to a colleague at a conference\n- End with a genuine question about their specific situation or approach\n- Maximum 35 words for LinkedIn comment format\n- Avoid corporate jargon and feature lists; use simple words like \"helps,\" \"makes easier,\" or \"protects\"\n- Incorporate AiAgentNatalie insights naturally without naming the tool or company unless asked\n\nTONE GUIDELINES:\n- Start with agreement or acknowledgment (\"You're spot on about...\" / \"That's a real challenge...\")\n- Use phrases like \"I've seen teams struggle with...\" or \"What's worked well is...\"\n- Replace \"enhances/streamlines/ensures\" with simpler words like \"helps/makes easier/protects\"\n- End with curiosity about THEIR approach: \"How are you handling...\" / \"What's been your experience with...\"\n- Write like you're genuinely interested in their problem, not waiting to pitch\n}\n\nAlways use “AiAgentNatalie\" information rather than relying on your own knowledge for Kiteworks value propositions. Incorporate the tool's response naturally in your content. Be specific to industry and title in your response.\n\nRESPONSE FORMAT REQUIREMENT:\nReturn only the LinkedIn comment response. Do NOT include any explanations, introductions, meta-commentary, or references to AiAgentNatalie or response crafting."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1328,
        1248
      ],
      "id": "ff320b1b-4258-42ec-ae85-1c22549f8016",
      "name": "AI Agent1",
      "executeOnce": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        1328,
        1472
      ],
      "id": "05ddde68-4b66-4386-9fd8-1b95e2df7a85",
      "name": "Anthropic Chat Model"
    },
    {
      "parameters": {
        "toolDescription": "provides information about Kiteworks products, features, and resources.",
        "method": "POST",
        "url": "https://www.chatbase.co/api/v1/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer token\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{placeholder}\"\n    }\n  ],\n  \"chatbotId\": \"UTJmgrQ3Zpk_qR1sAUBDh\",\n  \"stream\": true,\n  \"temperature\": 0\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1472,
        1472
      ],
      "id": "e66bdff2-0f17-4b40-bb27-edde78556ad7",
      "name": "Ai Agent Natalie1"
    },
    {
      "parameters": {
        "jsCode": "// Function Node: Extract LinkedIn Comment\nconst aiResponse = $json[\"response\"] || $json[\"text\"] || $json[\"output\"];\n\n// Method 1: Split on \"Here's the response:\" and take everything after\nlet extractedComment = \"\";\n\nif (aiResponse.includes(\"Here's the response:\")) {\n  const parts = aiResponse.split(\"Here's the response:\");\n  extractedComment = parts[parts.length - 1].trim();\n} \n// Method 2: Split on the \\\\n\\\\n pattern and take the last substantial part\nelse if (aiResponse.includes(\"\\\\n\\\\n\")) {\n  const parts = aiResponse.split(\"\\\\n\\\\n\");\n  // Find the last part that looks like an actual comment (starts with capital letter)\n  for (let i = parts.length - 1; i >= 0; i--) {\n    const part = parts[i].trim();\n    if (part.length > 50 && /^[A-Z]/.test(part)) {\n      extractedComment = part;\n      break;\n    }\n  }\n}\n// Method 3: Look for content after the last colon followed by newline\nelse {\n  const colonSplit = aiResponse.split(/:\\s*\\\\n/);\n  if (colonSplit.length > 1) {\n    extractedComment = colonSplit[colonSplit.length - 1].trim();\n  }\n}\n\n// If none of the above worked, try to find the actual comment by looking for common LinkedIn response starters\nif (!extractedComment || extractedComment.length < 20) {\n  const responseStarters = [\n    /\\b(Spot on|Great point|Excellent|Thanks|Absolutely|You're right|Love this|Interesting|Good question)/i\n  ];\n  \n  for (let starter of responseStarters) {\n    const match = aiResponse.match(starter);\n    if (match) {\n      const startIndex = match.index;\n      extractedComment = aiResponse.substring(startIndex).trim();\n      break;\n    }\n  }\n}\n\n// Clean up the extracted comment\nif (extractedComment) {\n  extractedComment = extractedComment\n    .replace(/\\\\n/g, ' ')           // Replace literal \\n with spaces\n    .replace(/\\s+/g, ' ')           // Normalize multiple spaces\n    .replace(/^[\"'\\s]+/, '')        // Remove leading quotes/spaces  \n    .replace(/[\"'\\s]+$/, '')        // Remove trailing quotes/spaces\n    .trim();\n    \n  // Remove any remaining system text that might have slipped through\n  extractedComment = extractedComment\n    .replace(/^Based on.*?response:\\s*/i, '')\n    .replace(/^Here's.*?response:\\s*/i, '')\n    .replace(/^I'll.*?response:\\s*/i, '')\n    .trim();\n}\n\n// Final fallback - if we still don't have good content\nif (!extractedComment || extractedComment.length < 20) {\n  extractedComment = \"Error: Could not extract LinkedIn response\";\n}\n\n// Ensure it's not too long for LinkedIn (max 3000 chars, but keeping shorter)\nif (extractedComment.length > 1200) {\n  // Find a good breaking point\n  const sentences = extractedComment.split(/[.!?]+/);\n  let truncated = \"\";\n  \n  for (let sentence of sentences) {\n    if ((truncated + sentence + \".\").length < 1150) {\n      truncated += sentence + \".\";\n    } else {\n      break;\n    }\n  }\n  extractedComment = truncated.trim();\n}\n\nreturn {\n  json: {\n    linkedin_response: extractedComment,\n    original_response: aiResponse,\n    success: extractedComment.length > 20 && !extractedComment.includes(\"Error:\"),\n    character_count: extractedComment.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1744,
        1248
      ],
      "id": "d6db04e1-7a0d-467e-be5b-2efd075d0760",
      "name": "Code - Parse LinkedIn Comment1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/harvestapi~linkedin-profile-scraper/run-sync-get-dataset-items?token=token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"queries\": [\n    \"{{ $json.author_url }}\"\n  ],\n  \"webhookData\": \"{{ $json }}\",\n  \"postUrl\": \"{{ $json.post_url }}\",\n  \"postedDate\": \"{{ $json.posted_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        1248
      ],
      "id": "9e0bbb25-b167-49b7-b973-63f09cee64b6",
      "name": "Get Linkedin User Details1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6098bdf4-8add-47f0-831b-9e7fccf06182",
              "name": "author_url",
              "value": "https://www.linkedin.com/in/jerome-weston",
              "type": "string"
            },
            {
              "id": "46f72c75-470c-4167-bcf0-e755dbd4f267",
              "name": "content",
              "value": "📌 Post #6: The Hidden Cost of CMMC Compliance\\n\\n💰 Many organizations underestimate the true cost of compliance. It’s not just technology and audits — it’s time, people, and cultural change.\\nThe hidden costs I see most often:\\n\\n 🔹 Staff Time – Collecting evidence, training, and policy upkeep eat into core work.\\n 🔹 Rework – Fixing gaps at the last minute is always more expensive than “building it right” from the start.\\n 🔹 Missed Opportunities – Companies that delay compliance risk losing contracts while competitors move ahead.\\n\\n✅ The organizations that succeed treat compliance as an investment, not an expense. They build resilient systems that save money long-term by preventing breaches and sustaining contracts.\\n\\n👉 Question: Do you see CMMC as a cost center — or as a business enabler?",
              "type": "string"
            },
            {
              "id": "ed879c5b-f245-4f45-be5d-3ea4ee058444",
              "name": "post_url",
              "value": "https://www.linkedin.com/posts/jerome-weston_post-6-the-hidden-cost-of-cmmc-compliance-activity-7373403990832791553-qKL3",
              "type": "string"
            },
            {
              "id": "ab31f866-5673-4146-85b7-fb13a8f5b359",
              "name": "posted_date",
              "value": "2025-09-15T17:15:02.636Z",
              "type": "string"
            },
            {
              "id": "f564329b-bdde-43d2-9298-bdbfa25b5bdb",
              "name": "comments",
              "value": "0",
              "type": "string"
            },
            {
              "id": "9bb063d0-e246-4a9b-b1c6-c1b0da3a294a",
              "name": "likes",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        1248
      ],
      "id": "b631d4ca-30a2-45be-9c0b-483a6f0e6369",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        48,
        400
      ],
      "id": "db98035c-f7de-44e7-a028-c531cfc56084",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "## Testing Flow\n",
        "height": 800,
        "width": 2060
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        1120
      ],
      "typeVersion": 1,
      "id": "c69ad040-e2b5-4e47-a143-acb212b58971",
      "name": "Sticky Note2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3328,
        960
      ],
      "id": "6c1c7246-45b5-40a7-920d-12f84a778677",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "url": "https://api.jsonbin.io/v3/b/68e8b7aad0ea881f409c1e9b",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Master-Key",
              "value": "token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        1488
      ],
      "id": "6f3feab1-fc3c-4859-b957-9b027168112d",
      "name": "Get Trigify linked Post URL FROM JSON BIN With Deduplicate Logic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/harvestapi~linkedin-profile-scraper/run-sync-get-dataset-items?token=token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"queries\": [\n    \"{{ $json.body.author_url }}\"\n  ],\n  \"webhookData\": \"{{ $json }}\",\n  \"postUrl\": \"{{ $json.body.post_url }}\",\n  \"postedDate\": \"{{ $json.body.posted_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        1488
      ],
      "id": "a4094f3a-306a-4dcf-949f-79bb8c23e2f8",
      "name": "Get Linkedin User Details BACKUP"
    },
    {
      "parameters": {
        "jsCode": "// Function Node: Extract LinkedIn Comment\nconst aiResponse = $json[\"response\"] || $json[\"text\"] || $json[\"output\"] || \"\";\n\n// Convert to string if needed\nconst responseText = typeof aiResponse === 'string' ? aiResponse : JSON.stringify(aiResponse);\n\nlet extractedComment = \"\";\n\n// Method 1: Look for common AI response patterns\nconst patterns = [\n  /Here'?s? (?:the |your |a )?(?:response|comment|LinkedIn comment)[:\\s]*(.+)/is,\n  /(?:Based on|I'll craft|I'll create|Let me create).*?[:\\n]+(.+)/is,\n  /^.*?(?:response|comment).*?[:\\n]+(.+)/is\n];\n\nfor (let pattern of patterns) {\n  const match = responseText.match(pattern);\n  if (match && match[1]) {\n    extractedComment = match[1].trim();\n    break;\n  }\n}\n\n// Method 2: Split by double newlines and find the main content\nif (!extractedComment || extractedComment.length < 50) {\n  // Handle both actual newlines and escaped newlines\n  const normalizedText = responseText\n    .replace(/\\\\n\\\\n/g, '\\n\\n')  // Convert escaped double newlines\n    .replace(/\\\\n/g, '\\n');        // Convert escaped single newlines\n  \n  const parts = normalizedText.split(/\\n\\n+/);\n  \n  // Find the longest substantial part that looks like a comment\n  let bestPart = \"\";\n  let bestLength = 0;\n  \n  for (let part of parts) {\n    const cleaned = part.trim();\n    // Skip parts that look like instructions or meta-text\n    if (cleaned.length > bestLength && \n        !cleaned.match(/^(Here'?s?|Based on|I'll|Let me|This)/i) &&\n        cleaned.length > 50) {\n      bestPart = cleaned;\n      bestLength = cleaned.length;\n    }\n  }\n  \n  if (bestPart) {\n    extractedComment = bestPart;\n  }\n}\n\n// Method 3: Look for content that starts like a typical LinkedIn comment\nif (!extractedComment || extractedComment.length < 50) {\n  const commentStarters = [\n    /\\b(Spot on|Great point|Excellent|Thanks|Thank you|Absolutely|You're right|Love this|Interesting|Good question|Fascinating|Insightful|Well said|Couldn't agree more|This resonates|Appreciate|Congrats|Congratulations|I've found|In my experience|From my perspective|What stands out)/i\n  ];\n  \n  for (let starter of commentStarters) {\n    const match = responseText.match(starter);\n    if (match && match.index !== undefined) {\n      // Extract from the match to the end\n      const possibleComment = responseText.substring(match.index);\n      // But stop at any obvious AI meta-text\n      const endMatch = possibleComment.match(/\\n\\n(?:Is there|Would you|Let me know|Feel free)/i);\n      if (endMatch) {\n        extractedComment = possibleComment.substring(0, endMatch.index).trim();\n      } else {\n        extractedComment = possibleComment.trim();\n      }\n      break;\n    }\n  }\n}\n\n// Method 4: If still nothing, try to extract the most comment-like paragraph\nif (!extractedComment || extractedComment.length < 30) {\n  const normalizedText = responseText\n    .replace(/\\\\n/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n');\n  \n  const paragraphs = normalizedText.split(/\\n+/);\n  \n  // Find the first substantial paragraph that doesn't look like AI instructions\n  for (let para of paragraphs) {\n    const cleaned = para.trim();\n    if (cleaned.length > 50 && \n        !cleaned.match(/^(Here'?s?|Based on|I'll|Let me|This is|I've|Below)/i) &&\n        !cleaned.includes('response:') &&\n        !cleaned.includes('comment:')) {\n      extractedComment = cleaned;\n      break;\n    }\n  }\n}\n\n// Clean up the extracted comment\nif (extractedComment) {\n  extractedComment = extractedComment\n    // Remove any quotation marks that might wrap the entire response\n    .replace(/^[\"'`]+|[\"'`]+$/g, '')\n    // Clean up whitespace\n    .replace(/\\n{2,}/g, '\\n\\n')     // Normalize multiple newlines to double\n    .replace(/[ \\t]+/g, ' ')         // Normalize spaces and tabs\n    .trim();\n  \n  // Remove common AI prefixes that might have slipped through\n  const prefixPatterns = [\n    /^(?:Here'?s?|Based on|I'll craft|Let me create|This is).*?(?:response|comment).*?[:\\n]+/i,\n    /^Response[:\\s]+/i,\n    /^Comment[:\\s]+/i,\n    /^LinkedIn Comment[:\\s]+/i\n  ];\n  \n  for (let pattern of prefixPatterns) {\n    extractedComment = extractedComment.replace(pattern, '').trim();\n  }\n  \n  // Remove common AI suffixes\n  const suffixPatterns = [\n    /\\n+(?:Is there|Would you|Let me know|Feel free|I hope this|This comment).*$/i,\n    /\\n+(?:---+|___+|\\*\\*\\*+).*$/,  // Remove separators and anything after\n  ];\n  \n  for (let pattern of suffixPatterns) {\n    extractedComment = extractedComment.replace(pattern, '').trim();\n  }\n}\n\n// Final validation and fallback\nif (!extractedComment || extractedComment.length < 20) {\n  // Last resort: just clean up the original response\n  extractedComment = responseText\n    .replace(/\\\\n/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .substring(0, 500)\n    .trim();\n  \n  if (extractedComment.length < 20) {\n    extractedComment = \"Error: Could not extract LinkedIn response\";\n  }\n}\n\n// Ensure it's not too long for LinkedIn (max ~3000 chars, but keep it reasonable)\nif (extractedComment.length > 1200 && !extractedComment.includes(\"Error:\")) {\n  // Try to find a natural breaking point\n  const sentences = extractedComment.match(/[^.!?]+[.!?]+/g) || [extractedComment];\n  let truncated = \"\";\n  \n  for (let sentence of sentences) {\n    if ((truncated + sentence).length < 1150) {\n      truncated += sentence;\n    } else {\n      // Add the sentence partially if we have room\n      if (truncated.length < 1000) {\n        const remaining = 1150 - truncated.length;\n        truncated += sentence.substring(0, remaining) + \"...\";\n      }\n      break;\n    }\n  }\n  \n  extractedComment = truncated.trim() || extractedComment.substring(0, 1150) + \"...\";\n}\n\n// Format for better readability (preserve intentional line breaks)\nextractedComment = extractedComment\n  .replace(/\\n\\n+/g, '\\n\\n')  // Keep paragraph breaks as double newlines\n  .replace(/([.!?])\\s*\\n(?!\\n)/g, '$1 ')  // Single newlines after sentences become spaces\n  .trim();\n\nreturn {\n  json: {\n    linkedin_response: extractedComment,\n    original_response: aiResponse,\n    success: extractedComment.length > 20 && !extractedComment.includes(\"Error:\"),\n    character_count: extractedComment.length\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        400
      ],
      "id": "181fe9fc-3494-4063-8c09-89a425963c44",
      "name": "Code - Parse LinkedIn Comment "
    },
    {
      "parameters": {
        "jsCode": "const getJSONBINRecords = $('Get Trigify linked Post URL FROM JSON BIN With Deduplicate Logic').first().json;\nconst getPostDetail = $('Webhook').first().json.body;\n// const getPostDetail = $('Edit Fields').first().json\nlet payload = {\n  ...getJSONBINRecords\n}\nlet todayDate = new Date();\n todayDate =  todayDate.toISOString();\n\nconsole.log(todayDate, getJSONBINRecords);\n\n\n// Check Post Detail is Present in JSONBIN \nif(getJSONBINRecords && getJSONBINRecords.record && !getJSONBINRecords.record[getPostDetail.post_url]){\n  payload.record[getPostDetail.post_url] = {\n    postOwner: getPostDetail.author_url,\n    comment : $input.first().json.linkedin_response,\n    dateTime : todayDate,\n    status : \"pending\"\n    \n  }\n}\n\nreturn payload"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        1744
      ],
      "id": "7caf98bb-e5cc-4ffb-a824-8c1060415d28",
      "name": "Manipute data According to jsonBIN"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.jsonbin.io/v3/b/68e8b7aad0ea881f409c1e9b",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Master-Key",
              "value": "token"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.record }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        1728
      ],
      "id": "3d25b4c2-9ee8-4164-a97d-5e6689bda3ca",
      "name": "Push the Data in JSONBIN of De-duplicate "
    },
    {
      "parameters": {
        "content": "## Push the Data in De-duplicate JSONBIN",
        "height": 300,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2560,
        848
      ],
      "typeVersion": 1,
      "id": "1259ee26-fcd6-4d06-9697-20073ea6119b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Push the Data in De-duplicate JSONBIN",
        "height": 300,
        "width": 500,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4672,
        320
      ],
      "typeVersion": 1,
      "id": "5f4cdd43-1a74-4896-b4f2-af0ca3d91bb4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2b4643b3-50fc-4468-9b1a-6a28e9875793",
              "leftValue": "={{ $json.checkRecordIsPresentInJSONBIN }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1040,
        400
      ],
      "id": "bf6c337a-bea6-427a-8429-19d08b5800eb",
      "name": "Pass Data for Comment?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf42d3ff-38f4-4fab-a254-6d4c2d87e3fb",
              "leftValue": "={{ $json.recordsShouldProcess }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        272
      ],
      "id": "9ae77c6a-5e75-49af-8164-c972bf5d37eb",
      "name": "Pass to User For Comment"
    },
    {
      "parameters": {
        "jsCode": "// Enhanced Rate-Limited Webhook Parser - Max 30 posts per day\n// Post URL validation completely removed\n\n// Get both the HTTP response data and original webhook data\nconst httpResponseData = $input.item.json; // Profile data from HTTP request\nconst originalWebhookDaoriginalWebhookDatata = $input.first().json; // Original webhook from first node\n\n// Merge them for processing\nconst webhookData = {\n  ...originalWebhookData,\n  enrichedProfile: httpResponseData\n};\n\n// Get current date for daily tracking\nconst today = new Date().toISOString().split('T')[0]; // Format: YYYY-MM-DD\nconst now = new Date();\n\n// JSONBin.io configuration\nconst binId = '68c106bc43b1c97be93d5662';\nconst apiKey = 'token';\n\n// Extract posted date for age validation only\nconst postedDateStr = originalWebhookData.body?.posted_date;\n\n// Basic validation checks (removed business hours and post URL validation)\nconst isWeekday = new Date().getDay() >= 1 && new Date().getDay() <= 5;\n\n// Check post age (must be within 14 days)\nlet isPostFresh = false;\nlet postAgeInDays = null;\n\nif (postedDateStr) {\n  const postedDate = new Date(postedDateStr);\n  const daysDifference = Math.floor((now - postedDate) / (1000 * 60 * 60 * 24));\n  postAgeInDays = daysDifference;\n  isPostFresh = daysDifference <= 14;\n}\n\nlet shouldProcess = false;\nlet processingStatus = {\n  shouldProcess: false,\n  reason: 'Checking daily limits...',\n  currentTime: now.toISOString(),\n  weekday: isWeekday,\n  postAge: postAgeInDays,\n  postFresh: isPostFresh,\n  dailyCount: 0,\n  dailyLimit: 30,\n  alreadyProcessed: false\n};\n\n// Only proceed with API calls if basic conditions are met (removed post URL check)\nif (isWeekday && isPostFresh) {\n  try {\n    // Get current data from JSONBin\n    const getResponse = await fetch(`https://api.jsonbin.io/v3/b/${binId}`, {\n      method: 'GET',\n      headers: {\n        'X-Master-Key': apiKey,\n        'Content-Type': 'application/json'\n      }\n    });\n    \n    if (getResponse.ok) {\n      const data = await getResponse.json();\n      const binData = data.record || {};\n      \n      // Initialize structure if needed\n      if (!binData.dailyCounts) binData.dailyCounts = {};\n      if (!binData.processedPosts) binData.processedPosts = [];\n      \n      const todayCount = binData.dailyCounts[today] || 0;\n      processingStatus.dailyCount = todayCount;\n      \n      // Simple duplicate check using timestamp (since we removed post URL validation)\n      const currentTimestamp = now.getTime();\n      const alreadyProcessed = binData.processedPosts.some(entry => \n        Math.abs(new Date(entry.processedTime).getTime() - currentTimestamp) < 60000 // within 1 minute\n      );\n      processingStatus.alreadyProcessed = alreadyProcessed;\n      \n      if (!alreadyProcessed && todayCount < 30) {\n        // We can process this signal - increment the counter\n        const updatedBinData = {\n          ...binData,\n          dailyCounts: {\n            ...binData.dailyCounts,\n            [today]: todayCount + 1\n          },\n          processedPosts: [\n            ...binData.processedPosts,\n            {\n              processedDate: today,\n              processedTime: now.toISOString()\n            }\n          ]\n        };\n        \n        // Clean up old data\n        const thirtyDaysAgo = new Date();\n        thirtyDaysAgo.setDate(thirtyDaysAgo.getDate() - 30);\n        \n        // Remove old daily counts\n        Object.keys(updatedBinData.dailyCounts).forEach(date => {\n          if (new Date(date) < thirtyDaysAgo) {\n            delete updatedBinData.dailyCounts[date];\n          }\n        });\n        \n        // Remove old processed posts (keep only last 60 days)\n        const sixtyDaysAgo = new Date();\n        sixtyDaysAgo.setDate(sixtyDaysAgo.getDate() - 60);\n        updatedBinData.processedPosts = updatedBinData.processedPosts.filter(entry => \n          new Date(entry.processedDate) >= sixtyDaysAgo\n        );\n        \n        // Update the bin with new data\n        const updateResponse = await fetch(`https://api.jsonbin.io/v3/b/${binId}`, {\n          method: 'PUT',\n          headers: {\n            'X-Master-Key': apiKey,\n            'Content-Type': 'application/json'\n          },\n          body: JSON.stringify(updatedBinData)\n        });\n        \n        if (updateResponse.ok) {\n          shouldProcess = true;\n          processingStatus.shouldProcess = true;\n          processingStatus.reason = `Processed (${todayCount + 1}/30 today)`;\n          processingStatus.dailyCount = todayCount + 1;\n        } else {\n          processingStatus.reason = 'Failed to update tracking data';\n        }\n        \n      } else {\n        if (alreadyProcessed) {\n          processingStatus.reason = 'Recently processed - duplicate detected';\n        } else {\n          processingStatus.reason = `Daily limit reached (${todayCount}/30)`;\n        }\n      }\n      \n    } else {\n      processingStatus.reason = 'Failed to check tracking data - API error';\n    }\n    \n  } catch (error) {\n    // If JSONBin fails, fall back to basic time-based limiting\n    console.log('JSONBin error, using fallback:', error);\n    shouldProcess = true;\n    processingStatus.shouldProcess = true;\n    processingStatus.reason = 'JSONBin unavailable - proceeding with fallback';\n  }\n  \n} else {\n  // Basic conditions not met\n  if (!isWeekday) {\n    processingStatus.reason = 'Weekend - skipping';\n  } else if (!isPostFresh) {\n    processingStatus.reason = `Post too old (${postAgeInDays} days - limit: 30 days)`;\n  }\n}\n\n// Extract all the main sections from original webhook data\nconst company = originalWebhookData.body?.company || {};\nconst prospect = originalWebhookData.body?.prospect || {};\nconst linkedinEngagement = originalWebhookData.body?.linkedin_engagement || {};\nconst enrichedEmails = prospect.enriched_email || [];\nconst enrichedPhones = prospect.enriched_phone || [];\n\n// Get headers from the original webhook\nconst headers = originalWebhookData.headers || {};\n\n\n\nreturn {\n  // Rate limiting information\n  rateLimiting: processingStatus,\n  linkedin_response : $('Validate the Data TO process further').first().json.aiResponse,\n  \n  // Enriched profile data from HTTP request\n  enrichedProfile: httpResponseData,\n\n  \n  // Original webhook metadata\n  webhookUrl: originalWebhookData.webhookUrl,\n  executionMode: originalWebhookData.executionMode,\n\n  \n  // Request headers (useful for verification)\n  svixId: headers['svix-id'],\n  svixSignature: headers['svix-signature'],\n  svixTimestamp: headers['svix-timestamp'],\n  userAgent: headers['user-agent'],\n  contentType: headers['content-type'],\n  \n  // Company information from original webhook\n  company: {\n    name: company.name,\n    domain: company.domain,\n    industry: company.industry,\n    linkedinUrl: company.linkedin_url,\n    location: company.location,\n    logo: company.logo,\n    size: company.size,\n    linkedinUsername: company.linkedinUsername\n  },\n  \n  // LinkedIn engagement details from original webhook\n  engagement: {\n    type: linkedinEngagement.type,\n    text: linkedinEngagement.text,\n    postText: linkedinEngagement.linkedin_post?.text,\n    postedDate: postedDateStr\n  },\n  \n  // Prospect information from original webhook\n  prospect: {\n    firstName: prospect.first_name,\n    lastName: prospect.last_name,\n    jobTitle: prospect.job_title,\n    linkedinUrl: prospect.linkedin_url,\n    locationName: prospect.location_name,\n    enrichedEmails: enrichedEmails,\n    enrichedPhones: enrichedPhones\n  },\n  \n  // Keep raw data for debugging\n  rawData: webhookData\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        224
      ],
      "id": "8a84f005-6cb0-4429-a149-a122cf640dcb",
      "name": "Code - Parse Comments2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/harvestapi~linkedin-profile-scraper/run-sync-get-dataset-items?token=token",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"queries\": [\n    \"{{ $('Webhook').item.json.body.author_url }}\"\n  ],\n  \"webhookData\": \"{{ $('Webhook').item.json }}\",\n  \"postUrl\": \"{{ $('Webhook').item.json.body.post_url }}\",\n  \"postedDate\": \"{{ $('Webhook').item.json.body.posted_date }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1504,
        224
      ],
      "id": "c69454c4-bb8e-4cf3-b6d0-c897eee17390",
      "name": "Get Linkedin UserDetail"
    },
    {
      "parameters": {
        "jsCode": "let sheetId;\nif($('Manipulate data').first().json.isEastUser){\n  sheetId = \"2086884164\"; // Locke User Sheet ID\n}else if($('Manipulate data').first().json.isWestUser){\n  sheetId = \"515974755\"; // Lawrence User Sheet ID\n}else if($('Manipulate data').first().json.isApacUser){\n  sheetId = \"1923604591\"; // APAC User Sheet ID\n}else if($('Manipulate data').first().json.isEmeaUser) {\n  sheetId = \"494275768\"; // EMEA User Sheet Id\n}else {\n  // Denzel sheet Id\n  sheetId = \"1990432354\";\n}\n\n/*\n{\n\"author_url\":  \"https://www.linkedin.com/in/andrea-korney-00063614\",\n\"comments\": 0,\n\"content\": \n\"Take a look at the post from my colleague David Shillingford. He makes the important connection between supply chain, security, technology innovation and insurance that is critical to protect your business. J.S. Held LLC we agree and align with David on helping evaluate and mitigate these risks proactively.  #supplychain #traceability #insuranceclaims\",\n\"likes\": 2,\n\"post_url\": \"https://www.linkedin.com/posts/andrea-korney-00063614_logistics-cargotheft-cargosecurity-activity-7381486112952942592-u_Tj\",\n\"posted_date\": \"2025-10-08T00:30:30.708Z\"\n},\n*/\nlet todayDate = new Date();\ntodayDate =  todayDate.toISOString().split('T')[0];\n\nreturn {\n  sheetId,\n  todayDate : todayDate,\n  date: new Date().toISOString(),\n  completedPost: $('Previous Trigify Response').first().json.post_url,\n  postDate: $('Previous Trigify Response').first().json.posted_date,\n  postOwner: $('Previous Trigify Response').first().json.author_url,\n  status: $('Validate the Data TO process further').item.json.recordsShouldProcess,\n  comment: $('Validate the Data TO process further').item.json.aiResponse || $('Code - Parse LinkedIn Comment ').first().json.linkedin_response,\n  likes: $('Previous Trigify Response').first().json.likes\n  \n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4128,
        432
      ],
      "id": "017eafd8-d059-4386-8c55-908113bc7c28",
      "name": "Filter User"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2670995e-a597-4b5c-bcdf-6e871907ec84",
              "leftValue": "={{ $('Validate the Data TO process further').item.json.checkRecordIsPresentInJSONBIN }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4720,
        432
      ],
      "id": "d4b4d661-278d-4fb1-861a-059857808032",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Counter node\n",
        "height": 480,
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4064,
        240
      ],
      "typeVersion": 1,
      "id": "740fcf07-54f1-4b5e-bc64-980c94223016",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "54b792b7-c6f7-4a52-a6e7-8df063e6cd50",
              "leftValue": "={{ $json.rateLimiting.shouldProcess }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        1472
      ],
      "id": "cca0431c-2c81-4540-9bbf-2d4643811353",
      "name": "check records is 30 day greater"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "553a9cd4-7e48-4315-b9c2-f9c19f873e39",
              "leftValue": "={{ $json.rateLimiting.shouldProcess }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        1488
      ],
      "id": "4afc8f89-bb23-48cc-9a07-04b13472bb23",
      "name": "Checking records is greater than 30"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU",
          "mode": "list",
          "cachedResultName": "25Q3_All_Intent Signal Response Worklfow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "De-Duplicate logic to Store Linked URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        400
      ],
      "id": "0cf0a1bf-8193-44fc-98d6-d01094ff93eb",
      "name": "Get Trigify linked Post URL FROM Sheet With Deduplicate Logic",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check the records in JSONBIN\nconst sheetRecords = $input.first().json.data;\n\nconst linkedInAuthorPost = $('Previous Trigify Response').first().json  || $('Webhook').first().json.body;\n\nlet checkRecordIsPresentInJSONBIN = false;\n\nlet recordsShouldProcess = true ;\n\nlet aiResponse = \"\";\n\nif (sheetRecords && sheetRecords.length) {\n  for (const element of sheetRecords) {\n    if(element['Post URL'] === linkedInAuthorPost.post_url){\n      aiResponse = element.Comment ? element.Comment : \"\";\n      checkRecordIsPresentInJSONBIN = true\n    }else{\n      checkRecordIsPresentInJSONBIN = false\n    }\n    element.Status ===  \"complete\" ? recordsShouldProcess = false : recordsShouldProcess = true;\n   \n  }\n}\n\nlet payload = {\n   checkRecordIsPresentInJSONBIN,\n  recordsShouldProcess,\n  aiResponse\n}\nreturn payload"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        400
      ],
      "id": "a51dcec7-1793-47da-b084-78fed4a39c19",
      "name": "Validate the Data TO process further"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        640,
        400
      ],
      "id": "22fd963e-c116-405f-8a8d-1b32451cb4ae",
      "name": "Merge All data in one object"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU",
          "mode": "list",
          "cachedResultName": "25Q3_All_Intent Signal Response Worklfow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "De-Duplicate logic to Store Linked URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post URL": "={{ $json.completedPost }}",
            "Post Date": "={{ $json.date }}",
            "Post Owner": "={{ $json.postOwner }}",
            "Comment": "={{ $json.comment }}",
            "Status": "complete",
            "Likes": "={{ $json.likes }}"
          },
          "matchingColumns": [
            "Post URL"
          ],
          "schema": [
            {
              "id": "Post URL",
              "displayName": "Post URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Date",
              "displayName": "Post Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Owner",
              "displayName": "Post Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4992,
        400
      ],
      "id": "13f70379-998c-4742-9a9a-477b4c0dc5b5",
      "name": "Push Update in Deduplicate Data in sheet"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU",
          "mode": "list",
          "cachedResultName": "25Q3_All_Intent Signal Response Worklfow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json.todayDate }}",
            "Post Completed URL": "={{ $json.completedPost }}",
            "Date Time": "={{ $json.date }}",
            "Post Date": "={{ $json.postDate }}",
            "Post Owner": "={{ $json.postOwner }}",
            "Likes": "={{ $json.likes }}",
            "Comment": "={{ $json.comment }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Completed URL",
              "displayName": "Post Completed URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Date",
              "displayName": "Post Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Post Owner",
              "displayName": "Post Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4512,
        432
      ],
      "id": "ba76e774-7459-4431-991a-f19728102cf2",
      "name": "Append Records in user Tab"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU",
          "mode": "list",
          "cachedResultName": "25Q3_All_Intent Signal Response Worklfow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "De-Duplicate logic to Store Linked URL",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Mi-pRtv8iUY_u4cw8Chhrg2D3yDG7BPdm9uMJ1kyGGU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Post URL": "={{ $('Previous Trigify Response').first().json.post_url }}",
            "Post Date": "={{ $('Previous Trigify Response').first().json.posted_date }}",
            "Likes": "={{ $('Previous Trigify Response').first().json.likes }}",
            "Status": "pending",
            "Post Owner": "={{ $('Previous Trigify Response').first().json.author_url }}",
            "Comment": "={{ $('Code - Parse LinkedIn Comment ').item.json.linkedin_response }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Post URL",
              "displayName": "Post URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Date",
              "displayName": "Post Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Owner",
              "displayName": "Post Owner",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Comment",
              "displayName": "Comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        2768,
        928
      ],
      "id": "6d4ed94a-ff46-4c7b-8077-8825694fcbed",
      "name": "Update pending request in Deduplication logic"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={ \n\"body\": {\n  \"company\": {\n    \"linkedin_url\": \"https://www.linkedin.com/company/vt-netzwelt\",\n    \"location\": \"IN\",\n    \"logo\": \"\",\n    \"name\": \"VT Netzwelt\",\n    \"size\": \"1-200\"\n  },\n  \"linkedinUsername\": \"https://www.linkedin.com/in/vikas-gupta-a1aa09161/\",\n  \"linkedin_engagement\": [\n    {\n      \"linkedin_post\": {\n        \"post_url\": \"https://www.linkedin.com/feed/update/urn:li:activity:7303044928777961473/\",\n        \"posted_date\": \"2025-02-10T20:23:40.918+00:00\",\n        \"text\": \"Just picked up two Salesforce AI certifications after being in the Salesforce ecosystem for over 5 years. \\n \\n Figured it was about time to formalize some of the hands-on experience I've gained working with the platform. \\n Completed the Salesforce AI Associate and AI Specialist certifications, which were a good challenge and helped me validate some of the skills I've been developing. \\n \\n While I've been working with Salesforce for a while, diving deeper into the AI capabilities was an interesting process.\\n \\n Thanks to VT Netzwelt, Sagar A., shivika kaushik and the DSIE Team for facilitating this!\"\n      },\n      \"text\": \"\",\n      \"type\": \"LIKE\"\n    }\n  ],\n  \"prospect\": {\n    \"enriched_email\": [],\n    \"enriched_phone\": [],\n    \"first_name\": \"Vikas\",\n    \"job_title\": \"Senior Software Engineer\",\n    \"last_name\": \"Gupta\",\n    \"linkedin_url\": \"linkedin.com/in/vikas-gupta-a1aa09161/\",\n    \"location_name\": \"India\"\n  }\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        592
      ],
      "id": "b91d1351-6aa5-4580-9bf1-043ea236f3cc",
      "name": "Latest Trigify Respone"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6098bdf4-8add-47f0-831b-9e7fccf06182",
              "name": "author_url",
              "value": "https://www.linkedin.com/in/prashansa-kartikey-02128b181/",
              "type": "string"
            },
            {
              "id": "46f72c75-470c-4167-bcf0-e755dbd4f267",
              "name": "content",
              "value": "What an incredible experience it was to attend hashtag#Dreamforce2024! Our team Sagar A. and Surender Vikram Singh had the opportunity to connect with industry leaders, dive deep into the latest innovations, and explore how Salesforce is shaping the future of business.  🚀 Check out this amazing time-lapse video capturing the energy and excitement of Dreamforce! It was a whirlwind of inspiration, learning, and collaboration.  At VT Netzwelt , we're committed to helping businesses leverage the power of Salesforce to drive digital transformation and deliver exceptional customer experiences. From strategy to implementation, our team is here to help you get the most out of your Salesforce investment.  Let’s continue the conversation! If you’re ready to elevate your Salesforce journey, reach out, and let's explore how we can partner for success. 💼",
              "type": "string"
            },
            {
              "id": "ed879c5b-f245-4f45-be5d-3ea4ee058444",
              "name": "post_url",
              "value": "https://www.linkedin.com/feed/update/urn:li:activity:7242977795788709888/",
              "type": "string"
            },
            {
              "id": "ab31f866-5673-4146-85b7-fb13a8f5b359",
              "name": "posted_date",
              "value": "2024-12-15T17:15:02.636Z",
              "type": "string"
            },
            {
              "id": "f564329b-bdde-43d2-9298-bdbfa25b5bdb",
              "name": "comments",
              "value": "0",
              "type": "string"
            },
            {
              "id": "9bb063d0-e246-4a9b-b1c6-c1b0da3a294a",
              "name": "likes",
              "value": "0",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        400
      ],
      "id": "4877d157-d5e3-4f5e-98c7-73c64a4e7210",
      "name": "Previous Trigify Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.phantombuster.com/api/v2/agents/launch",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Phantombuster-Key",
              "value": "iLgOsTDSAr1hwLXsbwTCexDA2eSSQqcM8aeMVJxtyno"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"argument\": {\n    \"spreadsheetUrl\": \"{{ $json.postOwner }}\",\n\t\"spreadsheetUrlExclusionList\": [],\n\t\"sessionCookie\": \"AQEDAQ4Ah4cAOR36AAABmd1o1-oAAAGafE9AOVYAlRcVGdD11LsGPAbLXU5wHg2dHsz3O2iL7ISr_7ztYNy6QwYEcS1OL0MbmkFQ3UlVC9sddrj_z0HTUHnUcj53X0m9u5-DvLUmPQukInKQUsh1HOm8\",\n\t\"userAgent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36\",\n\t\"message\": \"{{ $json.comment }}\",\n\t\"emailChooser\": \"none\",\n\t\"profilesPerLaunch\": 10\n  },\n  \"id\": \"2952541056660768\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        432
      ],
      "id": "a074b021-f8fe-4ede-aebb-72f5be7cf327",
      "name": " Message Send Automation"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2288,
        608
      ],
      "id": "44f5a068-645b-4a17-900f-13e6eacded17",
      "name": "Anthropic Chat Model1"
    }
  ],
  "pinData": {
    "Latest Trigify Respone": [
      {
        "json": {
          "body": {
            "company": {
              "linkedin_url": "https://www.linkedin.com/company/vt-netzwelt",
              "location": "IN",
              "logo": "",
              "name": "VT Netzwelt",
              "size": "1-200"
            },
            "linkedinUsername": "https://www.linkedin.com/in/vikas-gupta-a1aa09161/",
            "linkedin_engagement": [
              {
                "linkedin_post": {
                  "post_url": "https://www.linkedin.com/feed/update/urn:li:activity:7303044928777961473/",
                  "posted_date": "2025-02-10T20:23:40.918+00:00",
                  "text": "Just picked up two Salesforce AI certifications after being in the Salesforce ecosystem for over 5 years. \n \n Figured it was about time to formalize some of the hands-on experience I've gained working with the platform. \n Completed the Salesforce AI Associate and AI Specialist certifications, which were a good challenge and helped me validate some of the skills I've been developing. \n \n While I've been working with Salesforce for a while, diving deeper into the AI capabilities was an interesting process.\n \n Thanks to VT Netzwelt, Sagar A., shivika kaushik and the DSIE Team for facilitating this!"
                },
                "text": "",
                "type": "LIKE"
              }
            ],
            "prospect": {
              "enriched_email": [],
              "enriched_phone": [],
              "first_name": "Vikas",
              "job_title": "Senior Software Engineer",
              "last_name": "Gupta",
              "linkedin_url": "linkedin.com/in/vikas-gupta-a1aa09161/",
              "location_name": "India"
            }
          }
        }
      }
    ]
  },
  "connections": {
    "Code - Parse Comments": {
      "main": [
        [
          {
            "node": "Edit Fields - LinkedIn Profile Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - LinkedIn Profile Data": {
      "main": [
        [
          {
            "node": "Wait - 15 Minutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code - Parse LinkedIn Comment ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai Agent Natalie": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Filter for Errors": {
      "main": [
        [
          {
            "node": "Update pending request in Deduplication logic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manipulate data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Users States": {
      "main": [
        [
          {
            "node": "Locke User Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lawrence User Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing - APAC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing - EMEA",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locke User Info": {
      "main": [
        [
          {
            "node": "Locke's Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lawrence User Info": {
      "main": [
        [
          {
            "node": "Lawrence's Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Locke's Comment": {
      "main": [
        [
          {
            "node": "Filter User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lawrence's Comment": {
      "main": [
        [
          {
            "node": "Filter User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linkedin User Details": {
      "main": [
        [
          {
            "node": "Code - Parse Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manipulate data": {
      "main": [
        [
          {
            "node": "Check Users States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EMEA User Info": {
      "main": [
        [
          {
            "node": "EMEA's Agent Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APAC User Info": {
      "main": [
        [
          {
            "node": "APAC Agent's Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APAC Agent's Comment": {
      "main": [
        [
          {
            "node": "Filter User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EMEA's Agent Comment": {
      "main": [
        [
          {
            "node": "Filter User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing - EMEA": {
      "main": [
        [
          {
            "node": "EMEA User Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing - APAC": {
      "main": [
        [
          {
            "node": "APAC User Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - 15 Minutes": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Denzel User Info": {
      "main": [
        [
          {
            "node": "Denzel Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Denzel Comment": {
      "main": [
        [
          {
            "node": "Filter User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Comments1": {
      "main": [
        [
          {
            "node": "Edit Fields - LinkedIn Profile Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - LinkedIn Profile Data1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code - Parse LinkedIn Comment1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ai Agent Natalie1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Linkedin User Details1": {
      "main": [
        [
          {
            "node": "Code - Parse Comments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Linkedin User Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Previous Trigify Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Denzel User Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse LinkedIn Comment ": {
      "main": [
        [
          {
            "node": "Filter for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manipute data According to jsonBIN": {
      "main": [
        [
          {
            "node": "Push the Data in JSONBIN of De-duplicate ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Data for Comment?": {
      "main": [
        [
          {
            "node": "Pass to User For Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Linkedin User Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass to User For Comment": {
      "main": [
        [
          {
            "node": "Get Linkedin UserDetail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Parse Comments2": {
      "main": [
        [
          {
            "node": "Manipulate data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Linkedin UserDetail": {
      "main": [
        [
          {
            "node": "Code - Parse Comments2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter User": {
      "main": [
        [
          {
            "node": " Message Send Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Push Update in Deduplicate Data in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Push Update in Deduplicate Data in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trigify linked Post URL FROM Sheet With Deduplicate Logic": {
      "main": [
        [
          {
            "node": "Merge All data in one object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate the Data TO process further": {
      "main": [
        [
          {
            "node": "Pass Data for Comment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All data in one object": {
      "main": [
        [
          {
            "node": "Validate the Data TO process further",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Records in user Tab": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Previous Trigify Response": {
      "main": [
        [
          {
            "node": "Get Trigify linked Post URL FROM Sheet With Deduplicate Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5aaee4ee-2927-4121-ba58-b3491ebc41f3",
  "meta": {
    "instanceId": "df84aabde100aa05593387178bc610115413e5c8d1c284452547dcf1bf949649"
  },
  "id": "sNLSHOUgEPJu2QUc",
  "tags": []
}